.total, .earnings, .expenses{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total p, .earnings p, .expenses p{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--Text2);
}
.total > div:last-of-type,.earnings > div:last-of-type,.expenses > div:last-of-type{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--White);
}
.total > div:last-of-type{
    background-color: var(--Color);
}
.earnings > div:last-of-type{
    background-color: var(--Green);
}
.expenses > div:last-of-type{
    background-color: var(--Red);
}
.total{
    border-bottom: .0 solid var(--Color);
}
.earnings{
    border-bottom: .0 solid var(--Green);
}
.expenses{
    border-bottom: .0 solid var(--Red);
}